@page "/houselist"
@using  Microsoft.Extensions.Configuration
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data

@inject INewHouseDAO _idao
@inject IConfiguration _iconfig

<h3>House List</h3>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@houseObjectList"
                    TValue="HouseObject"
                    Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })"
                    @ref="Grid"
                    AllowPaging="true"
                    AllowSorting="true">
                <GridPageSettings PageSize="7"></GridPageSettings>
                <GridEvents OnActionBegin="ActionBegin" TValue="HouseObject">   </GridEvents>
                <GridEditSettings AllowAdding="true"
                                  AllowDeleting="true"
                                  AllowEditing="true"
                                  Mode="EditMode.Normal">
                </GridEditSettings>

                <GridTemplates>
                    <DetailTemplate>

                        @{
                            HouseObject house = (context as HouseObject);
                            var features = house.Features;
                            currentHouse = house;
                                                <SfGrid DataSource="@features"
                                                        TValue="FeatureObject"
                                                        Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
                                                    <GridEvents OnActionBegin="ActionDetailBegin" TValue="FeatureObject">   </GridEvents>
                                                    <GridEditSettings AllowAdding="true"
                                                                      AllowDeleting="true"
                                                                      AllowEditing="true"
                                                                      Mode="EditMode.Normal">

                                                    </GridEditSettings>
                                                    <GridColumns>


                                                        <GridColumn Field=@nameof(FeatureObject.Description)
                                                                    HeaderText="Feature"
                                                                    Width="110"
                                                                    EditType="EditType.DropDownEdit">
                                                            <EditTemplate Context="editContext">
                                                                <SfDropDownList ID="Description" TValue="Int32" DataSource="FeaturesAll" TItem="FeatureObject"
                                                                                @bind-Value="((editContext as FeatureObject).FeatureID)">
                                                                    <DropDownListFieldSettings Text="Description" Value="FeatureID"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </EditTemplate>
                                                           
                                                        </GridColumn>

                                                    </GridColumns>
                                                </SfGrid>
                                              
                        }
                    </DetailTemplate>
                </GridTemplates>

                <GridColumns>
                    <GridColumn Field=@nameof(HouseObject.HouseID)
                                HeaderText="House ID"
                                IsPrimaryKey="true"
                                IsIdentity="true"
                                ValidationRules="@(new ValidationRules { Required = true, Number = true })"
                                TextAlign="TextAlign.Right"
                                Width="140">

                    </GridColumn>
                    <GridColumn Field=@nameof(HouseObject.Address)
                                HeaderText="Address"
                                ValidationRules="@(new ValidationRules { Required = true })"
                                Width="150">
                        @*<EditTemplate>
                                <SfAutoComplete TItem="OrdersDetails" TValue="string" ID="CustomerID" @bind-Value="@((context as OrdersDetails).CustomerID)" DataSource="@GridData">
                                    <AutoCompleteFieldSettings Value="CustomerID"></AutoCompleteFieldSettings>
                                </SfAutoComplete>
                            </EditTemplate>*@
                    </GridColumn>
                    <GridColumn Field=@nameof(HouseObject.Price)
                                HeaderText="Price"
                                ValidationRules="@(new ValidationRules { Required = true })"
                                EditType="EditType.NumericEdit"
                                Format="C2"
                                TextAlign="TextAlign.Right"
                                Width="140">

                    </GridColumn>
                    @*<GridColumn Field=@nameof(HouseObject.Features)
                                HeaderText="Zillow"
                                Width="160"
                                Visible="false"
                                EditType="EditType.DropDownEdit">*@

                    @*</GridColumn>*@
                    <GridColumn Field=@nameof(HouseObject.ZillowUrl)
                                HeaderText="Zillow"
                                Width="160">

                    </GridColumn>
                    <GridColumn Field=@nameof(HouseObject.ImageUrl)
                                HeaderText="Image Url"
                                Width="150">

                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {
    List<HouseObject> houseObjectList;
    List<FeatureObject> Features;
    List<FeatureObject> FeaturesAll;
    string selectedFeature;
    HouseObject currentHouse;
    FeatureObject currentFeature;
    SfGrid<HouseObject> Grid;

    string connString;


    protected override async Task OnInitializedAsync()
    {
        connString = _iconfig.GetConnectionString("defaultWork");
        try
        {
            string sql = @"select FeatureID, [Name], [Description] from Features";
            //FeaturesAll = await _idao.LoadFeatures<FeatureObject, dynamic>(new { }, connString);
            FeaturesAll = await _idao.Load<FeatureObject, dynamic>(new { }, connString, sql);

            sql = "select * from HouseDetails";
            houseObjectList = await _idao.Load<HouseObject, dynamic>(new { }, connString, sql);
            //houseObjectList = await _idao.LoadHouseData<HouseObject, dynamic>(new { }, connString);
            foreach (HouseObject house in houseObjectList)
            {
                sql = @"select HouseFeatures.HouseID, Features.FeatureID, Name, Description, Weight from HouseFeatures 
                        Left Join Features On HouseFeatures.FeatureID = Features.FeatureID 
                        where HouseID = @HouseID";
                Features = await _idao.Load<FeatureObject, dynamic>(new { HouseID = house.HouseID }, connString, sql);
                //Features = await _idao.LoadFeaturesByHouse<FeatureObject, dynamic>(new { HouseID = house.HouseID }, connString);
                house.Features.AddRange(Features);
                house.Score = house.GetScore();
            }
        }
        catch (Exception ex)
        {

        }



    }
    public async Task ActionBegin(ActionEventArgs<HouseObject> args)
    {
        HouseObject house = args.Data;
        string sql = string.Empty;
        try
        {
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                if (args.Action == "Edit")
                {
                    sql = $@"update HouseDetails set Address = @Address, Price = @Price, ZillowUrl = @ZillowUrl, ImageUrl = @ImageUrl where HouseID = @HouseID";
                    bool isEdit = await _idao.Edit<dynamic>(new { Address = house.Address, Price = house.Price, ZillowUrl = house.ZillowUrl, ImageUrl = house.ImageUrl, HouseID = house.HouseID }, connString, sql);
                    //bool isEdit = await _idao.EditHouse<dynamic>(new {Address = house.Address, Price = house.Price, ZillowUrl = house.ZillowUrl, ImageUrl = house.ImageUrl, HouseID = house.HouseID }, connString);
                }
                else if (args.Action == "Add")
                {
                    int newId = await _idao.AddHouse<HouseObject>(house.Address, house.Price, house.ZillowUrl, house.ImageUrl, connString);
                }
            }
            else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
            {
                bool isDeleted = await _idao.DeleteHouse<dynamic>(new { HouseID = house.HouseID }, connString);
            }
            else if (args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit || args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
            {

            }
        }
        catch (Exception ex)
        {

        }



    }
    public async Task ActionDetailBegin(ActionEventArgs<FeatureObject> args)
    {
        FeatureObject features = args.Data;
        string sf = selectedFeature;
        string sql = string.Empty;
        bool result;
        int id;
        try
        {
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                if (args.Action == "Edit")
                {
                    //Do a stored procedure,I'm not actually editing a feature but replacing it so we need a delete and insert
                    sql = "update HouseFeatures set FeatureID = @FeatureID where HouseID=@HouseID and FeatureID = @PreviousFeatureID";
                    result = await _idao.Edit<dynamic>(new {FeatureID = args.Data.FeatureID, HouseID = currentHouse.HouseID, PreviousFeatureID = args.PreviousData.FeatureID }, connString, sql);
                }
                else if (args.Action == "Add")
                {
                    sql = $@"Insert into HouseFeatures (HouseID, FeatureID) 
                        values (@HouseID, @FeatureID)";

                    result = await _idao.Add<dynamic>(new {HouseID = currentHouse.HouseID, FeatureID = features.FeatureID }, connString, sql);

                }
            }
            else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
            {
                sql = "delete from HouseFeatures where HouseID=@HouseID and FeatureID = FeatureID";
                bool isDeleted = await _idao.Delete<dynamic>(new { HouseID = currentHouse.HouseID, FeatureID = args.Data.FeatureID }, connString, sql);
            }
        }
        catch (Exception ex)
        {

        }



    }
    public async Task CellSave(CellSaveArgs<FeatureObject> Args)
    {

    }
}
