@page "/houselist"
@using  Microsoft.Extensions.Configuration
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data

@inject INewHouseDAO _idao
@inject IConfiguration _iconfig
@inject IBL _ibl

<h3>House List</h3>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@houseObjectList"
                    TValue="HouseObject"
                    Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })"
                    @ref="Grid"
                    AllowPaging="true"
                    AllowSorting="true">
                <GridPageSettings PageSize="7"></GridPageSettings>
                <GridEvents OnActionBegin="ActionBeginAsync" TValue="HouseObject">   </GridEvents>
                <GridEditSettings AllowAdding="true"
                                  AllowDeleting="true"
                                  AllowEditing="true"
                                  Mode="EditMode.Normal">
                </GridEditSettings>

                <GridTemplates>
                    <DetailTemplate>

                        @{
                            HouseObject house = (context as HouseObject);
                            var features = house.Features;
                            currentHouse = house;
                                                <SfGrid DataSource="@features"
                                                        TValue="FeatureObject"
                                                        Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
                                                    <GridEvents OnActionBegin="ActionDetailBeginAsync" TValue="FeatureObject">   </GridEvents>
                                                    <GridEditSettings AllowAdding="true"
                                                                      AllowDeleting="true"
                                                                      AllowEditing="true"
                                                                      Mode="EditMode.Normal">

                                                    </GridEditSettings>
                                                    <GridColumns>


                                                        <GridColumn Field=@nameof(FeatureObject.Description)
                                                                    HeaderText="Feature"
                                                                    Width="110"
                                                                    EditType="EditType.DropDownEdit">
                                                            <EditTemplate Context="editContext">
                                                                <SfDropDownList ID="Description" TValue="Int32" DataSource="FeaturesAll" TItem="FeatureObject"
                                                                                @bind-Value="((editContext as FeatureObject).FeatureID)">
                                                                    <DropDownListFieldSettings Text="Description" Value="FeatureID"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </EditTemplate>
                                                           
                                                        </GridColumn>

                                                    </GridColumns>
                                                </SfGrid>
                                              
                        }
                    </DetailTemplate>
                </GridTemplates>

                <GridColumns>
                    <GridColumn Field=@nameof(HouseObject.HouseID)
                                HeaderText="House ID"
                                IsPrimaryKey="true"
                                IsIdentity="true"
                                ValidationRules="@(new ValidationRules { Required = true, Number = true })"
                                TextAlign="TextAlign.Right"
                                Width="140">

                    </GridColumn>
                    <GridColumn Field=@nameof(HouseObject.Address)
                                HeaderText="Address"
                                ValidationRules="@(new ValidationRules { Required = true })"
                                Width="150">
                        @*<EditTemplate>
                                <SfAutoComplete TItem="OrdersDetails" TValue="string" ID="CustomerID" @bind-Value="@((context as OrdersDetails).CustomerID)" DataSource="@GridData">
                                    <AutoCompleteFieldSettings Value="CustomerID"></AutoCompleteFieldSettings>
                                </SfAutoComplete>
                            </EditTemplate>*@
                    </GridColumn>
                    <GridColumn Field=@nameof(HouseObject.Price)
                                HeaderText="Price"
                                ValidationRules="@(new ValidationRules { Required = true })"
                                EditType="EditType.NumericEdit"
                                Format="C2"
                                TextAlign="TextAlign.Right"
                                Width="140">

                    </GridColumn>
                    @*<GridColumn Field=@nameof(HouseObject.Features)
                                HeaderText="Zillow"
                                Width="160"
                                Visible="false"
                                EditType="EditType.DropDownEdit">*@

                    @*</GridColumn>*@
                    <GridColumn Field=@nameof(HouseObject.ZillowUrl)
                                HeaderText="Zillow"
                                Width="160">

                    </GridColumn>
                    <GridColumn Field=@nameof(HouseObject.ImageUrl)
                                HeaderText="Image Url"
                                Width="150">

                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {
    List<HouseObject> houseObjectList;
    List<FeatureObject> Features;
    List<FeatureObject> FeaturesAll;
    string selectedFeature;
    HouseObject currentHouse;
    FeatureObject currentFeature;
    SfGrid<HouseObject> Grid;
    string sql = string.Empty;
    string connString;


    protected override async Task OnInitializedAsync()
    {
        connString = _iconfig.GetConnectionString("defaultWork");
        try
        {
            sql = "spGetAllFeatures";
            FeaturesAll = await _idao.Load<FeatureObject, dynamic>(new { }, connString, sql);

            sql = "spGetAllHouseDetails";
            houseObjectList = await _idao.Load<HouseObject, dynamic>(new { }, connString, sql);

            foreach (HouseObject house in houseObjectList)
            {
                sql = "spGetFeaturesByHouseID";
                Features = await _idao.Load<FeatureObject, dynamic>(new { HouseID = house.HouseID }, connString, sql);

                house.Features.AddRange(Features);
                house.Score = house.GetScore();
            }
        }
        catch (Exception ex)
        {
            //string stackTrace = _ibl.GenerateStackTrace(ex);
        }





    }
    public async Task ActionBeginAsync(ActionEventArgs<HouseObject> args)
    {
        HouseObject house = args.Data;
        try
        {
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                if (args.Action == "Edit")
                {
                    sql = "spUpdateHouseDetails";
                    bool isEdit = await _idao.EditAsync<dynamic>(new { Address = house.Address, Price = house.Price, ZillowUrl = house.ZillowUrl, ImageUrl = house.ImageUrl, HouseID = house.HouseID }, connString, sql);

                }
                else if (args.Action == "Add")
                {
                    int newId = await _idao.AddHouseAsync<HouseObject>(house.Address, house.Price, house.ZillowUrl, house.ImageUrl, connString);
                }
            }
            else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
            {
                //TODO make this SP
                bool isDeleted = await _idao.DeleteHouseAsync<dynamic>(new { HouseID = house.HouseID }, connString);
            }
            else if (args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit || args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
            {

            }
        }
        catch (Exception ex)
        {
            //string stackTrace = _ibl.GenerateStackTrace(ex);
        }

    }
    public async Task ActionDetailBeginAsync(ActionEventArgs<FeatureObject> args)
    {
        FeatureObject features = args.Data;
        string sf = selectedFeature;
        bool result;
        int id;
        try
        {
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                if (args.Action == "Edit")
                {
                    sql = "spUpdateHouseFeatures";
                    result = await _idao.EditAsync<dynamic>(new { FeatureID = args.Data.FeatureID, HouseID = currentHouse.HouseID, PreviousFeatureID = args.PreviousData.FeatureID }, connString, sql);
                }
                else if (args.Action == "Add")
                {
                    sql = "spInsertNewHouse";
                    result = await _idao.AddAsync<dynamic>(new { HouseID = currentHouse.HouseID, FeatureID = features.FeatureID }, connString, sql);
                }
            }
            else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
            {
                sql = "spDeleteFeatureByHouseID";
                bool isDeleted = await _idao.DeleteAsync<dynamic>(new { HouseID = currentHouse.HouseID, FeatureID = args.Data.FeatureID }, connString, sql);
            }
        }
        catch (Exception ex)
        {
            //string stackTrace = _ibl.GenerateStackTrace(ex);
        }

    }

}
