@page "/"

@using  Microsoft.Extensions.Configuration
@using DataAccess

@inject INewHouseDAO _idao
@inject IConfiguration _iconfig
@inject IBL _ibl

@if (houseObjectList == null)
{
    <p><em>Loading Houses...</em></p>
}
else
{
    <div class="control-section card-control-section tile_layout">
        <div class="row e-card-layout" style="text-align:center;">
            <div class="row error" style="display:none;min-height:150px">
                <div class="e-error-content" style="margin:auto;height:inherit;font-size:18px;font-weight:500;color:inherit">No results found. Please try a different search.</div>
            </div>
            @foreach (DataAccess.HouseObject house in houseObjectList)
            {
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div id="card_sample_11" class="card_sample">
                        <SfCard ID="@house.HouseID.ToString()">
                            <CardImage Image="@house.ImageUrl" />
                             @{ 
                                 string title = $"Score: {house.Score.ToString()}";
                                 string price = $"${house.Price.ToString()}";
                             }
                            <CardHeader Title="@title" SubTitle="@price" />
                            <CardContent>
                                <table style="width: 100%">
                                    @foreach (FeatureObject feature in house.Features)
                                    {
                                        <tr>
                                            <td>
                                                <div class="card-text-value">
                                                    <b>@feature.Description</b>
                                                </div>
                                            </td>
                                            @*<td>
                                                <div class="card-text-value">@feature.Description</div>
                                            </td>*@
                                        </tr>
                                    }

                                </table>
</CardContent>
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync(house.ZillowUrl))">Zillow</SfButton>
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    </div>
                </div>
            }


        </div>
    </div>
    <div id="source_link">
        Source:
        <a href="https://www.syncfusion.com/ebooks/" target="_blank">https://www.syncfusion.com/ebooks</a>
    </div>
}


<style>
    /* Tile view card customization */
    .tile_layout.card-control-section .row.filter .tile_search {
        justify-content: flex-end;
    }

    .tile_layout.card-control-section .row .e-card {
        text-align: left;
        margin: 10px;
    }

    .tile_layout.card-control-section .control-wrapper {
        padding: 0 20px;
    }

    .tile_layout.card-control-section .row.filter {
        margin: 0;
    }

    .tile_layout.card-control-section .e-card .e-card-actions a {
        border: 1px solid;
        display: block;
        margin: auto;
        width: 100px;
        border-radius: inherit;
    }

    .tile_layout.card-control-section .e-card .e-card-image {
        height: 180px;
        width: inherit;
    }

    .tile_layout.card-control-section .row.filter .col-xs-3.col-sm-3.col-lg-3.col-md-3 col-sm-6 {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .tile_layout.card-control-section .col-xs-3.col-sm-3.col-lg-3.col-md-3 col-sm-6 {
        width: 100%;
        padding: 10px;
    }

    .card-control-section.tile_layout .e-card-layout {
        margin: auto;
        max-width: 190px;
    }

    #source_link {
        float: right;
        margin-right: 10px;
    }

    .tile_layout.card-control-section .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        width: 25%;
    }

    .card-control-section.tile_layout .e-card-layout {
        max-width: 890px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 20px;
        font-family: Helvetica, 'Segoe UI';
        font-weight: bold;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 5px;
    }

    .e-card .e-card-content {
        padding-top: 0px;
        height: 110px;
    }

    .col-lg-3 .col-md-3 .col-sm-6 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
</style>
@code {

    [Inject] public IJSRuntime JsRuntime { get; set; }

    List<HouseObject> houseObjectList;
    List<FeatureObject> Features;
    string connString;
    string sql = string.Empty;

    protected override async Task OnInitializedAsync()
    {


        sql = "spGetAllHouseDetails";
        try
        {
            connString = _iconfig.GetConnectionString("defaultWork");
            houseObjectList = await _idao.Load<HouseObject, dynamic>(new { }, connString, sql);



            foreach (HouseObject house in houseObjectList)
            {

                sql = "spGetFeaturesByHouseID";

                Features = await _idao.Load<FeatureObject, dynamic>(new { HouseID = house.HouseID }, connString, sql);


                house.Features.AddRange(Features);
                house.Score = house.GetScore();
            }

        }
        catch (Exception ex)
        {

            //string stackTrace = _ibl.GenerateStackTrace(ex);
        }

    }


    public async Task NavigateToUrlAsync(string url)
    {
        try
        {
            await JsRuntime.InvokeAsync<object>("open", url, "_blank");
        }
        catch (Exception ex)
        {
            //string stackTrace = _ibl.GenerateStackTrace(ex);
        }

    }
}
